/* Unviversal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Element Selectors */
body {
    margin-left: 300px;
    margin-bottom: 50px;
    margin-top: 50px;    
}

header, main, footer,  aside {
    max-width: 1200px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3rem;   
}   
main {
    width: 900px;
    text-align: center;
    margin: 40px;
    background-color: rgb(241, 239, 239);
}
nav {
    background-color: #579398;
    padding: 15px;
    
}
nav a {
    color: white;
    padding: 15px;
    font-size: 20px;
    line-height: 30px;
}
h1 {
    text-align: center;
    padding: 20px;
    color: darkblue;
    font-size: 35px;
}
aside  {
    text-align: center;
    position: relative;
    width: 500px;
    padding: 20px;
    color: #000;
}
aside h2 {
    position: absolute;
    padding: 20px;
    color: #000;
    left: 38%;
    

}
aside p {
    text-align: justify;
    padding: 20px;
    font-size: 15px;
    color: #4f4b4b;
    

}
main img {
    float: right;
    width: 150px;
    height: auto;
    margin: 20px;
    border: 1px solid rgb(117, 150, 171);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
main p {
    text-align: justify;
    padding: 20px;
    font-size: 18px;
    color: #000;
    margin-right: 10px;
}

ul {
    list-style: none;
    width: 700px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #579398;
    color: white;
    font-size: 17px;
}
/* Class Selectors */
.box {
    border: 1px solid rgb(165, 164, 164);
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(241, 227, 227);
    color: #000    
}
.temple-list {
    text-align: left;
    padding: 20px;
    font-size: 18px;
    color: #000;
    background-color: rgb(207, 183, 183);
    margin-top: 50px;
}

